$componentMaxWidth: 980px;
$margin: 10px;

.dynamic-columns__wrapper{
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
  &:nth-of-type(2){
    background-color: grey;
  }
}

.dynamic-columns{
  background-color: white;
  width: 100%;
  max-width:$componentMaxWidth;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__column{
    display: flex;
    height: auto;
    width: 100%;
    border: 1px solid grey;
    flex-wrap: wrap;

    &-image-wrapper:empty{
      width: 0;
      padding: 0;
      margin: 0;
      flex:0;
      height: 0px;
    }
    &-image-wrapper{
      position: relative;
      height: 170px;
      flex: 1;

      @include bp-sm {
        width: 50%;
        align-self: center;
      }

      .image-border{
        height: 8px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }

      .dynamic-columns__column--image{
        width: 100%;
        height: 100%;
        background: url(../img/hotel-image.png)no-repeat center center;
        background-size: cover;
      }
    }

    //Content
    &--content{
      //margin: 20px;
      .column__content__header{
        display: flex;
        .hotel__logo{
          height: 32px;
          width: 32px;
          img{
            height: 100%;
            width: auto;
          }
        }
        h4{
          margin-left: 10px;
        }
      }
      @include bp-xs {
        margin:  20px 0 0 0;
      }

      @include bp-sm {
        margin:  20px 0 20px 20px;
        flex: 1;
      }


      button{
        width: 100%;
        height: 40px;
        border-radius: 3px;
        background-color: #f9c940;
        border: none;
        margin: 20px 0;
        transition: all 0.2s;
        cursor: pointer;
        a{
          text-decoration: none;
        }
      }
    }

    &--content.no--image{
      margin: 0px;
    }

    // One Column style
    &:first-of-type:nth-last-of-type(1),
    &:first-of-type:nth-last-of-type(1) ~ & {
      margin: $margin * 2;
      @include bp-sm{
        width: calc(100% - (2 * #{$margin}));
        margin: 20px auto;
      }
    }

    // Two Column style
    &:first-of-type:nth-last-of-type(2),
    &:first-of-type:nth-last-of-type(2) ~ &,
    &:first-of-type:nth-last-of-type(3),
    &:first-of-type:nth-last-of-type(3) ~ &  {
      margin: $margin * 2;
      @include bp-sm {
        margin: 0;
      }

      &:first-of-type{
        margin: 20px 20px 0 20px;
        @include bp-sm {
          margin: 0 0 0 $margin;
        }
      }

      &:last-of-type{
        @include bp-sm {
          margin-left: $margin * 2;
        }
      }

      @include bp-sm {
        margin-left: $margin * 2;
      }

      .dynamic-columns__column-image-wrapper:empty{
        width: 0;
        padding: 0;
        margin: 0;
        flex:0;
        height: 0px;
      }

      .dynamic-columns__column-image-wrapper{
        position: relative;
        height: 170px;
        flex: 1;
        @include bp-sm {
          width: 50%;
          align-self: center;
        }
      }

      .dynamic-columns__column--content {
        margin: 20px 0 0 0;
      }

      .dynamic-columns__column--content.no--image {
        margin: 0;
      }

      @include bp-xs {
        .dynamic-columns__column-image-wrapper{
          flex:1;
        }

        .dynamic-columns__column--content{
          flex:1;
          margin-left: 20px;
        }

        .dynamic-columns__column--content.no--image{
          margin-left: 0;
        }
      }

      @include bp-sm {
        flex-direction: column;
        .dynamic-columns__column-image-wrapper {
          max-width: 100%;
          width: 100%;
          flex: 1;
        }

        .dynamic-columns__column--content {
          max-width: 100%;
          margin: 20px 0 0 0;
        }

        .dynamic-columns__column--content.no--image {
          margin:  0;
        }
      }
    }

    @include bp-sm{
      @for $i from 2 through 8{
        $index: $i;
        @if($index >= 3){ $index: 3}
        &:first-of-type:nth-last-of-type(#{$i}),
        &:first-of-type:nth-last-of-type(#{$i}) ~ & {
          width: calc((100% / #{$index}) - ( 2 * #{$margin}));
        }
      }
    }
  }
}


//Style by brand

//Premier inn
.by-brand--pi{

  .image-border{
    background-color: #511e62;
  }
  .dynamic-columns__column--image{
    background: url(../img/hotel-image.png)no-repeat center center;
    background-size: cover;
  }
  button{
    background-color: #511e62;
    a{
      color: white;
    }
  }

  button:hover{
    background-color: #9f78a3;
  }
}

//Hub hotel
.by-brand--hub{

  .image-border{
    background-color: #bed600;
  }
  .dynamic-columns__column--image{

    background: url(../img/hotel-image.png)no-repeat center center;
    background-size: cover;
  }
  button{
    background-color: #363636;
    a{
      color: white;
    }
  }

  button:hover{
    background-color: #363636;
    a{
      color:  #bed600;
    }
  }
}

//Zip hotel
.by-brand--zip{

  .image-border{
    background-color: #fc0f42;
  }
  .dynamic-columns__column--image{
    background: url(../img/hotel-image.png)no-repeat center center;
    background-size: cover;
  }
  button{
    background-color: #fc0f42;
    a{
      color: white;
    }
  }

  button:hover{
    background-color: #fc0f42;
  }
}

// Internet Explorer specific Style
.ie{
  .dynamic-columns{
    width: 100%;
    max-width:$componentMaxWidth;
    &__column{

      // One Column style
      &:first-of-type:nth-last-of-type(1),
      &:first-of-type:nth-last-of-type(1) ~ & {
        background-color: grey;
        @include bp-xs{
          width: calc(100% - (2 * #{$margin}));
        }
      }

      // Two Column style
      &:first-of-type:nth-last-of-type(2),
      &:first-of-type:nth-last-of-type(2) ~ & {
        background-color: red;
      }

      // Three Column style
      &:first-of-type:nth-last-of-type(3),
      &:first-of-type:nth-last-of-type(3) ~ & {
        background-color: yellow;
      }

      @include bp-xs{
        width: calc(50% - ( 2 * #{$margin}));
      }

      @include bp-sm{
        @for $i from 2 through 8{
          $index: $i;
          @if($index >= 3){ $index: 3}
          &:first-of-type:nth-last-of-type(#{$i}),
          &:first-of-type:nth-last-of-type(#{$i}) ~ & {
            width: calc((100% / #{$index}) - ( 2 * #{$margin}));
          }
        }
      }
    }
  }
}
